# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/
.pyenv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Specific Streamlit Secret File
.streamlit/secrets.toml

# Miscellaneous
*.DS_Store
*.log
*.sqlite3
*.sublime-workspace
*.sublime-project
*.vscode/
*.idea/
*.swp
*.tmp
*.bak
*.orig
*.out
*.log
*.pid
*.gz
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
unittest.xml
test-reports/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/
